@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;

0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 20px;
  font-family: "Lato";
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 820px;
  margin: 0 auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.footer {
  width: 100vw;
  background-color: #3c3c3c;
}

.footer__content {
  padding-top: 50px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__element {
  margin: 0px auto;
}

.footer__image {
  margin-bottom: 40px;
}

.footer__list {
  font-size: 14px;
  text-align: center;
  color: #a4a4a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 260px;
  margin-bottom: 35px;
}

.footer__copyright {
  font-size: 14px;
  text-align: center;
  color: #6c6c6c;
  margin-bottom: 50px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  padding: 0px 20px 0px 0px;
}

.page__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
}

._no-webp .first-screen__content{
  background: url("../img/BG-Header.png") center/cover no-repeat; }

.first-screen__content {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

.first-screen__logo {
  position: absolute;
  top: 14%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.first-screen__text {
  position: absolute;
  line-height: 1.18;
  text-align: center;
  color: #ffffff;
  top: 38%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.first-screen__text:after {
  content: '';
  position: absolute;
  bottom: -50px;
  height: 2px;
  width: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
}

.first-screen__title {
  font-size: 34px;
  font-weight: 900;
  letter-spacing: 5.44px;
}

.first-screen__subtitle {
  font-size: 26px;
  font-weight: normal;
  letter-spacing: 4.16px;
}

.first-screen__button {
  font-size: 15.5px;
  letter-spacing: 0.93px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 68%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 47px;
  line-height: 47px;
  padding: 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.first-screen__button span {
  z-index: 5;
}

.first-screen__button:hover {
  color: black;
}

.first-screen__button:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.first-screen__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

.first-screen__arrow {
  position: absolute;
  padding: 0px 0px 30px 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  width: 10px;
  height: 10px;
  -webkit-animation: down 1s linear infinite alternate running 0s none;
          animation: down 1s linear infinite alternate running 0s none;
}

@-webkit-keyframes down {
  0% {
    top: 78%;
  }

  100% {
    top: calc(78% + 30px);
  }
}

@keyframes down {
  0% {
    top: 78%;
  }

  100% {
    top: calc(78% + 30px);
  }
}

.title,
.about__title,
.portfolio__title,
.contact__title {
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 5.44px;
  text-align: center;
  color: #000000;
  position: relative;
  margin-bottom: 73px;
}

.title:after,
.about__title:after,
.portfolio__title:after,
.contact__title:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 80px;
  bottom: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: black;
}

.common-text,
.about__text,
.element__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.86;
  text-align: center;
  color: #868585;
}

.menu__content {
  height: 55px;
  margin-bottom: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 422px;
}

.menu__element a {
  font-size: 15px;
  text-align: center;
  color: #3c3c3c !important;
}

.menu__element:hover a {
  font-weight: bold;
  color: #ada074 !important;
}

.menu__element_active a {
  font-weight: bold;
  color: #ada074 !important;
}

.about__content {
  margin-bottom: 100px;
}

.about__text {
  max-width: 688px;
  margin: 0px auto;
  margin-bottom: 70px;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px -20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__element {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0px 20px 0px 20px;
}

.element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.element__image {
  margin-bottom: 40px;
}

.element__title {
  font-size: 20px;
  letter-spacing: 3.52px;
  text-align: center;
  color: #000000;
  margin-bottom: 36px;
}

.portfolio__content {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__menu {
  margin-bottom: 100px;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  margin: 0px auto;
}

.portfolio__menu-element {
  font-size: 15px;
  text-align: center;
  color: #3c3c3c !important;
}

.portfolio__menu-element:hover {
  cursor: pointer;
  font-weight: bold;
  color: #ada074 !important;
}

.portfolio__menu-element._active {
  font-weight: bold;
  color: #ada074 !important;
}

.portfolio__button {
  padding: 0px 45px 0px 45px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 50px;
  border: 2px solid black;
  color: black;
  margin: 0px auto;
  height: 50px;
  position: relative;
}

.portfolio__button span {
  color: black;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1;
}

.portfolio__button:hover span {
  color: #fff;
}

.portfolio__button:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.portfolio__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.catalog__content {
  max-width: 1250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 50px 0px;
}

.catalog__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
  background-size: contain;
}

.catalog__image img {
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
}

.catalog__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
  padding: 0px 0px 0px 50px;
}

.catalog__title {
  font-size: 23.5px;
  font-weight: bold;
  letter-spacing: 3.76px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  margin: 0px 0px 30px 0px;
}

.catalog__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.86;
  text-align: left;
  color: #595757;
}

.catalog__text p {
  margin-bottom: 50px;
}

.catalog__button {
  padding: 0px 45px 0px 45px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 50px;
  border: 2px solid black;
  color: black;
  margin: 0px auto;
  height: 50px;
  position: relative;
}

.catalog__button span {
  color: black;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1;
}

.catalog__button:hover span {
  color: #fff;
}

.catalog__button:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.catalog__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._no-webp .partners{
  background: url("../img/partners/bg.png") center/cover no-repeat; }

.partners {
  width: 100vw;
  height: 400px;
  position: relative;
}

.partners__title {
  position: absolute;
  top: 22%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 30.5px;
  font-weight: 300;
  letter-spacing: 1.83px;
  text-align: center;
  color: #ffffff;
}

.partners__list {
  position: absolute;
  bottom: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__element {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.contact__content {
  margin: 0px auto;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 730px;
}

.contact__title {
  margin-bottom: 150px;
}

.contact__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 40px;
}

.contact__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 20px 0px 0px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 70px 0px;
}

.form__row > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.form__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px 60px 0px 0px;
}

.form__label {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.84px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.form .input {
  border-top: 1px solid black;
  padding: 0px 10px;
  height: 35px;
}

.form .input._error {
  border: 1px solid red;
}

.form textarea {
  padding: 10px 10px;
  resize: none;
  border-top: 1px solid black;
  height: 120px;
  width: 100%;
}

.form__btn {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.84px;
  text-align: center;
  color: #000000;
}

.social {
  font-weight: 300;
  line-height: 26px;
  font-size: 14px;
  text-align: left;
  color: #000000;
  -webkit-transform: translateY(-12px);
      -ms-transform: translateY(-12px);
          transform: translateY(-12px);
}

.social__text {
  margin-bottom: 50px;
  padding: 0;
}

.social__author {
  font-weight: bold;
  margin-bottom: 35px;
}

.social__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.social__media {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  margin: 0px 12px 0px 0px;
}

.social__media img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.social__mail a {
  font-weight: bold;
  color: black;
}

@media (max-width: 992px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 832px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 820px) {
  .footer__content {
    padding-top: calc(20px + 30 * ((100vw - 320px) / 500));
  }

  .footer__image {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 500));
  }

  .footer__list {
    margin-bottom: calc(20px + 15 * ((100vw - 320px) / 500));
  }

  .footer__copyright {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 500));
  }

  .first-screen__text:after {
    bottom: calc(-20px + -30 * ((100vw - 320px) / 500));
  }

  .first-screen__title {
    font-size: calc(15px + 19 * ((100vw - 320px) / 500));
  }

  .first-screen__subtitle {
    font-size: calc(15px + 11 * ((100vw - 320px) / 500));
  }

  .first-screen__button {
    font-size: calc(10px + 5.5 * ((100vw - 320px) / 500));
  }

  .title,
  .about__title,
  .portfolio__title,
  .contact__title {
    margin-bottom: calc(25px + 48 * ((100vw - 320px) / 500));
  }

  .title:after,
  .about__title:after,
  .portfolio__title:after,
  .contact__title:after {
    bottom: calc(-10px + -25 * ((100vw - 320px) / 500));
  }

  .menu__content {
    margin-bottom: calc(30px + 100 * ((100vw - 320px) / 500));
  }

  .about__content {
    margin-bottom: calc(20px + 80 * ((100vw - 320px) / 500));
  }

  .about__text {
    margin-bottom: calc(20px + 50 * ((100vw - 320px) / 500));
  }

  .element__image {
    margin-bottom: calc(10px + 30 * ((100vw - 320px) / 500));
  }

  .element__title {
    margin-bottom: calc(10px + 26 * ((100vw - 320px) / 500));
  }

  .portfolio__content {
    margin-bottom: calc(20px + 80 * ((100vw - 320px) / 500));
  }

  .portfolio__menu {
    margin-bottom: calc(30px + 70 * ((100vw - 320px) / 500));
  }

  .catalog__text p {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 500));
  }

  .contact__content {
    margin-bottom: calc(30px + 70 * ((100vw - 320px) / 500));
  }

  .contact__title {
    margin-bottom: calc(50px + 100 * ((100vw - 320px) / 500));
  }

  .contact__columns {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 500));
  }

  .form__label {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 500));
  }

  .social__text {
    margin-bottom: calc(15px + 35 * ((100vw - 320px) / 500));
  }

  .social__author {
    margin-bottom: calc(10px + 25 * ((100vw - 320px) / 500));
  }
}

@media (max-width: 768px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .first-screen__logo {
    -webkit-transform: translateX(-50%) scale(0.7);
        -ms-transform: translateX(-50%) scale(0.7);
            transform: translateX(-50%) scale(0.7);
  }

  .catalog__element {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .catalog__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    height: 100vw;
  }

  .partners__list {
    -webkit-transform: translateX(-50%) scale(0.7);
        -ms-transform: translateX(-50%) scale(0.7);
            transform: translateX(-50%) scale(0.7);
  }

  .contact__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contact__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .form {
    margin: 0;
  }

  .form__line {
    padding: 0px 0px 0px 0px;
  }

  .form .input {
    width: calc(100% - 30px);
  }

  .form textarea {
    width: calc(100% - 30px);
  }
}

@media (max-width: 576px) {
  .about__element {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .partners {
    height: 300px;
  }

  .partners__title {
    top: 15%;
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  .about__element {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 30px;
  }
}

@media (min-aspect-ratio: 8 / 3) {
  .first-screen__content {
    height: 38vw;
  }
}

@media (max-height: 500px) {
  .first-screen__content {
    height: 500px;
  }
}

._webp .first-screen__content{ background: url(../img/BG-Header.webp) center/cover no-repeat; }

._webp .partners{ background: url(../img/partners/bg.webp) center/cover no-repeat; }